.container {
  /* 
  width: ;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 3px solid black;
  background-color: aqua; */

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 32px;
  height: 100vh;
}
